:root {
  --bg: #EEE;
  --fg: black;
  --lightBg: #FFF;
  --link: #5d5dd1;
  --linkVisited: #c1a5df;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #111;
    --fg: white;
    --lightBg: #333;
    --link: #b7b7ed;
    --linkVisited: #c1a5df;
  }
}

a {
  color: var(--link);
}

a:visited {
  color: var(--linkVisited);
}

html {
  background-color: var(--bg);
}

body {
  color: var(--fg);
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 14px;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100vh;
  padding: 0 1rem;
}

main {
  flex-grow: 1;
}

footer {
  padding: 20px 0;
  text-align: center;
}

nav {
  margin-bottom: 1.5rem;
}

pre {
  background-color: var(--lightBg) !important;
  overflow-x: auto;
  padding: 0.75rem;
}

img, video {
  max-width: 100%;
}

embed {
  min-width: 100%;
  min-height: 80vh;
}

table {
  width: 100%;
}

td {
  padding-right: 1rem;
}

td:last-child {
  padding-right: 0;
}

th {
  text-align: left;
}

.table-container {
  overflow-x: auto;
  margin-bottom: 1.5rem;
}

.table-container > table {
  white-space: nowrap;
}

.file--details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.file--actions {
  margin-bottom: 0;
}
