:root {
  --lightBg: #EEE;
}

body {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  margin: 0 auto;
  max-width: 800px;
  min-height: 100vh;
  padding: 0 10px;
}

main {
  flex-grow: 1;
}

footer {
  padding: 20px 0;
}

nav {
  margin-bottom: 20px;
}

pre {
  background-color: var(--lightBg);
  overflow-x: auto;
  padding: 10px;
}

td {
  padding-right: 15px;
}

td:last-child {
  padding-right: 0;
}

th {
  text-align: left;
}

.table-container {
  overflow-x: auto;
}

.table-container > table {
  white-space: nowrap;
}

.file--details {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.file--actions {
  margin-bottom: 0;
}
