{{define "content"}}
  {{template "breadcrumbs" .File}}

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Last Modified</th>
        </tr>
      </thead>

      <tbody>
        {{if not .File.IsRoot}}
          <tr>
            <td><a href="{{.File.ParentPath}}">..</a></td>
            <td></td>
            <td></td>
          <tr>
        {{end}}

        {{range .Files}}
          <tr>
            <td>{{.EmojiIcon}} <a href="{{.Path}}">{{.Name}}</a></td>
            <td>{{.HumanSize}}</td>
            <td>{{.HumanLastModified}}</td>
        {{end}}
      </tbody>
    </table>
  </div>
{{end}}
