{{define "content"}}
  {{template "breadcrumbs" .}}

  <h2>{{.EmojiIcon}} {{.Name}}</h2>

  <div class="file--details">
    <small>
      Size: <b>{{.HumanSize}}</b>,
      Last Modified: <b>{{.HumanLastModified}}</b>
    </small>

    <nav class="file--actions">
      <a href="{{.RawPath}}">Raw</a>
    </nav>
  </div>

  {{if .IsImage}}
    <img src="{{.RawPath}}" />
  {{else if .IsVideo}}
    <video controls>
      <source src="{{.RawPath}}" type="{{.Mime}}">
    </video>
  {{else}}
    {{.Content}}
  {{end}}
{{end}}
