{{define "content"}}
  <a href="{{.ParentPath}}">..</a>

  <h2>{{.Path}}</h2>
  <small>
    Size: <b>{{.HumanSize}}</b>,
    Last Modified: <b>{{.HumanLastModified}}</b>
  </small>

  <pre>
    {{- .Content}}
  </pre>
{{end}}
