{{define "content"}}
  <a href="{{.ParentPath}}">..</a>

  <h2>{{.Path}}</h2>
  <small>Size: {{.HumanSize}}, Last Modified: {{.HumanLastModified}}</small>

  <pre>
    {{- .Content}}
  </pre>
{{end}}
