{{define "layout"}}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Share my filez." />

    <title>Filez</title>

    <link rel="icon" type="image/svg+xml" href="/filez/assets/favicon.svg">
    <link rel="stylesheet" href="{{assetPath "main.css"}}">
  </head>

  <body>
    <header>
      <a href="/"><h1>Filez</h1></a>
    </header>

    <main>
      {{block "content" .}}
        Nothing to see here.
      {{end}}
    </main>

    <footer>
      Made with ❤️ by <a href="https://github.com/mthadley/filez">mthadley</a>
    </footer>
  </body>
  </html>
{{end}}

{{define "breadcrumbs"}}
  <nav>
    {{range .ParentPaths}}
      / <a href="{{.Path}}">{{.Name}}</a>
    {{end}}

    /

    {{if not .IsRoot}}
      {{.Name}}
    {{end}}
  </nav>
{{end}}
